{% assign share_url = page.url | prepend: site.baseurl | prepend: "https://jingchaozhang.github.io" %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://x.com/intent/tweet?text={{ page.title | uri_escape }}%20{{ share_url }}" class="btn btn--twitter" target="_blank" rel="noopener noreferrer" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} X"><i class="fa-brands fa-fw fa-x-twitter" aria-hidden="true"></i></a>

  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url | url_encode }}" class="btn btn--linkedin" target="_blank" rel="noopener noreferrer" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fa-brands fa-fw fa-linkedin-in" aria-hidden="true"></i></a>
</section>
